<h1>StaticPages#new</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
<p>Link to User Index</p>
<%= link_to 'User Index', users_path %>
<p>Link to Event Index</p>
<%=link_to 'Event Index', events_path %>
<p>Link to Sport Index</p>
<%= link_to 'Sport Index', sports_path %>