<%= link_to team_index_path, style:"background-color: rgba(var(--purple), 0.05); position:relative", 'aria-selected' => true  do %>
   <i class="fa-solid fa-user-group"></i> Feat Friends
   <span class="span-indicator"> </span>
<% end%>