<%= link_to home_path, style:"background-color: rgba(var(--purple), 0.05); position:relative", 'aria-selected' => true do %>
   <i class='fa-solid fa-home'></i> Home 
   <span class="span-indicator"> </span>
 <% end%>