<div class="navbar">
   <div>
      <div class="user-name">
         <img src="./Ellipse 6.png" alt="" />
         <span>Foucauld</span>
      </div>
      <div class="separate" style="margin-left: 37px"></div>
      <nav class="menu" role="tablist">
      <%= link_to home_path, style:"background-color: rgba(var(--purple), 0.05)", 'aria-selected' => true do %>
      <i class='fa-solid fa-home'></i> Home 
      <% end%>
      
       
         <a role="tab">
            <i class="fa-solid fa-user-group"></i> Feat Friends</a
         >
         <a  role="tab">
            <i class="fa-solid fa-comment-dots"></i> Messages</a
         >
         <a  role="tab">
            <i class="fa-solid fa-calendar-days"></i> Events</a
         >
      </nav>
   </div>

   <div class="nav-down">
      <div class="separate"></div>
      <a href="#"> <i class="fa-solid fa-gear"></i> Paramètres</a>
      <a href="#">
         <i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a
      >
   </div>
</div>